.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

th {
  text-align: left;
}

.board {
  margin:20px auto;
  width:600px;
  height:600px;
  border:1px dotted black;
  font-size:0px;
}

.space {
  display:inline-block;
  width:198px;
  height:198px;
  border:1px dotted black;
  text-align:center;
  font-size:40px;
  vertical-align:middle;
}

.drop-zone {
  margin: 20px auto;
  width: 600px;
  height: 100px;
  border: 1px dotted black;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-family: monospace;
}

/*.drop-zone:hover {
  cursor: crosshair;
}*/