<% if @game.users.count > 1 %>
  // I'M Os
<% else %> 
  // I'M Xs
<% end %>



<div class="board">
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
</div>
