<% if @game.users.count > 1 %>
  // I'M Os
<% else %> 
  // I'M Xs
<% end %>



<div class="board"  data-p-id="<% if @game.pid != nil %><%= @game.pid %><% end %>">
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
  <div class="space">
  </div>
</div>

<script src="http://cdn.peerjs.com/0.3/peer.min.js"></script>
<script src="/js/peer.js"></script>
